/.metadata/
# Eclipse
.metadata/
.settings/
.classpath
.project

# Java / Maven
target/
*.class

# Node
node_modules/
dist/

# Environment variables & secrets
.env
.env.*
**/application.properties

# IDE
.idea/
.vscode/

# Logs
*.log